.tbi {
    position: absolute;
    top: 0%;
    left: 0%;
}
.tbi-on {
    z-index: 1;
}
.tbi-off {
    z-index: -1;
}
.tbi-button {
    position: fixed;
    right: 0px;
    width: 10px;
    height: 10px;
    z-index: 3;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
}
#tbi-switch {
    top: 0px;
}
.tbi-switch-off {
    background-color: #7f7;
}
.tbi-switch-on {
    background-color: #f44;
}
#tbi-reset {
    top: 10px;
}
